.App {
    font-size: 20px;
}

.App-header {
  text-align: center;
  background-color: white;
  font-size: 30px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.App-container {
    height: 500px;
    width: 60%;
    position: absolute;
    left: 20%;
    right: 20%;
}

.App-left {
    border: 1px solid black;
    position: absolute;
    width: 25%;
    height: 100%;
}

.App-right {
    border: 1px solid black;
    position: absolute;
    width: 65%;
    left: 35%;
    height: 100%;
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
}

/*.Video-row {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;
    height: 300px;
}*/

ul {
    display: flex;
    flex-wrap: wrap;
}
  
li {
    height: 40vh;
    flex-grow: 1;
}

.Video {
    /*width: 36%;
    height: 54%;
    width: 10px;
    height: 20px;*/
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    /*vertical-align: bottom;*/
}

/*
.Video-one {
    flex-basis: 0;
    flex-grow: 1;
    /*width: 36%;
    height: 54%;
}


.Video-two {
    flex-basis: 0;
    flex-grow: 1;
    /*width: 36%;
    height: 54%;
}

.Video-three {
    flex-basis: 0;
    flex-grow: 4;
    /*width: 36%;
    height: 54%;
}

.Video-four {
    flex-basis: 0;
    flex-grow: 1;
    /*width: 36%;
    height: 54%;
}

.Video-five {
    flex-basis: 0;
    flex-grow: 1;
    /*width: 36%;
    height: 54%;
}

*/