.App {
    font-size: 20px;
}

.App-header {
  text-align: center;
  background-color: white;
  font-size: 30px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.App-container {
    height: 550px;
    width: 60%;
    position: absolute;
    left: 20%;
    right: 20%;
}

.App-left {
    border: 2px solid black;
    position: absolute;
    width: 25%;
    height: 500px;
}

.App-right {
    border: 1px solid black;
    position: absolute;
    width: 65%;
    left: 35%;
    height: 500px;
}

.category {
    padding: 1px;
    border-bottom: 1px solid black;
}

.AddButton {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 510px;
}
.SaveButton {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 510px;
    left: 65px;
}
.button{

}
.DeleteButton {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 510px;
    left: 130px;
}