.Video-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 100px;
    height: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    row-gap: 0px;
}

.Video {
    /*width: 36%;
    height: 54%;*/
    width: 10px;
    height: 20px;
}

.Video-one {
    flex-basis: auto;
    flex-grow: 1;
    width: 130px;
    height: 200px;
    /*
    108px
    162px
    /*width: 36%;
    height: 54%;*/
}


.Video-two {
    flex-basis: auto;
    flex-grow: 1;
    width: 108px;
    height: 162px;
    /*width: 36%;
    height: 54%;*/
}

.Video-three {
    flex-basis: auto;
    flex-grow: 1;
    width: 108px;
    height: 162px;
    /*width: 36%;
    height: 54%;*/
}

.Video-four {
    flex-basis: auto;
    flex-grow: 1;
    width: 108px;
    height: 162px;
    /*width: 36%;
    height: 54%;*/
}

.Video-five {
    flex-basis: auto;
    flex-grow: 1;
    width: 108px;
    height: 162px;
    /*width: 36%;
    height: 54%;*/
}